@model Brewery
<div class="text-center">
    <h1 class="display-4">Drink Local</h1>
    <p>Enter your City below to see local breweries.</p>
</div>


<div style="width: 20%; margin: 0 auto" class="text-center">
    <div class="form-row align-items-center">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        {
            <div class="form-group">
                <input type="text" name="City" class="form-control text-center" maxlength="25" />
            </div>
            <br />

            <input type="submit" value="Go" class="btn btn-primary" />
        }
    </div>
</div>